/* PC */
@media (min-width: 64em) {

}

/* Tablet and mobile */
@media (max-width: 63.9375em) {
    .buy-ticket-btn {
        padding: 16px 16px;
    }

    .form-control {
        padding: 15px;
        font-size: 16px;
    }

    #footer .social-list {
        font-size: 48px;
        margin: 0 8px;
    }

    #footer .social-desc {
        padding: 12px 0;
        display: inline-block;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-info {
        line-height: 2;
    }

    .buy-ticket-btn,
    .form-submit {
        font-size: 16px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-col-full, 
    .s-full-width {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn, 
    #slider .text-content {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 42px;
    }
    
    .contact-form {
        margin-top: 32px;
    }
}